
body{
	margin:0px;
	padding:0px;
	background:url(CollegeResto-Background.png)

	}
.navbar{
	display:flex;
	justify-content:space-between;
	color:white;
	padding:0px 100px 0px 50px;
	height:70px;
	align-items:center;
	}
.nav-1{
 	display:flex;
	align-items:center;
	gap:120px;
	}
.logo{
	font-size: 30px;
	font-weight:600;
	color:orange;
	}
.links{
	display:flex;
	list-style:none;
	gap:40px;
	}
.links li{
	font-size:19px;
	color:orange;
	transition: all 0.3s ease;
	}
.links li:hover{
	color:white;
	text-decoration:underline;
	text-underline-offset:10px;
	text-decoration-color:white;
	}

.icons{
	display:flex;
	gap:35px;
	}
.icons i{
	color:black;
	font-size:25px;
	}
.container{
	display:flex;
	padding-left:200px;
	}
.left{
	display:flex;
	flex-direction:column;
	}
.left1{
	font-size:25px;
	color:white;
	font-style:italic;
	}
.left2{
	font-size:70px;
	font-weight:600;
	color:white;
	{
.left3{
	font-size: 27px;
	font-style: italic;
	color: orange;
	margin-bottom: 15px;	
	}
.left4{
	border: 2px solid white;
	padding: 5px 15px;
	border-radius: 30px;
	}
.food{
	border: 2px solid white;
	


	}
#food {
	background: url(food1.png);
	width: 500px;
	height: 500px;
	background-size: cover;
	}